*{
    margin: 0;
    padding: 0;
}
#title{
    margin: 10px;
    text-align: center;
}
.color{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 20px;
}
#blackColor{
    background-color: black;
}
#redColor{
    background-color: red;
}
#blueColor{
    background-color: blue;
}
#greenColor{
    background-color: green;
}
#pixel-board {
    margin-left:20px;
    height: 40px;
    width: 40px;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1px;

}
.pixel{
    background-color: #fff;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    
}
    


